name: share_plus_example
description: Demonstrates how to use the share_plus plugin.

dependencies:
  flutter:
    sdk: flutter
  share_plus: ^7.2.1
  image_picker: ^1.0.0
  file_selector: ^1.0.0

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/flutter_logo.png

environment:
  sdk: '>=2.18.0 <4.0.0'
