name: package_info_plus_example
description: Demonstrates how to use the package_info_plus plugin.
version: 1.2.3+4
publish_to: 'none'

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ">=0.13.5 <2.0.0"
  package_info_plus: ^5.0.0

dev_dependencies:
  build_runner: ^2.3.3
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0

flutter:
  uses-material-design: true
