name: android_alarm_manager_plus_example
description: Demonstrates how to use the android_alarm_manager_plus plugin.

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  android_alarm_manager_plus: ^4.0.7
  permission_handler: ^11.3.0
  shared_preferences: ^2.2.2

dev_dependencies:
  espresso: ^0.3.0+7
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
