name: android_intent_plus_example
description: Demonstrates how to use the android_intent plugin.

environment:
  sdk: ">=3.1.0 <4.0.0"
  flutter: ">=3.12.0"

dependencies:
  flutter:
    sdk: flutter
  platform: ^3.1.0
  android_intent_plus: ^5.3.1

dev_dependencies:
  flutter_driver:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ">=4.0.0 <6.0.0"

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
