name: network_info_plus_example
description: Demonstrates how to use the network_info_plus plugin.

environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  network_info_plus: ^3.0.5

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  test: ^1.22.0
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
